<div id="siderbar_header">GMS</div>
<button  mat-raised-button [routerLink]="['dashboard']">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
</button>
<button  mat-raised-button  [routerLink]="['party']" routerLinkActive="active">
    <mat-icon>account_circle</mat-icon>
    <span>Party</span>
</button>
<button  mat-raised-button [routerLink]="['category']" routerLinkActive="active">
    <mat-icon>card_giftcard</mat-icon>
    <span>Category</span>
</button>
<button  mat-raised-button [routerLink]="['item']" routerLinkActive="active">
    <mat-icon>list</mat-icon>
    <span>Item</span>
</button>
<button  mat-raised-button [routerLink]="['customer']" routerLinkActive="active">
    <mat-icon>group</mat-icon>
    <span>Customer</span>
</button>
<button  mat-raised-button [routerLink]="['employee']" routerLinkActive="active">
    <mat-icon>person_add</mat-icon>
    <span>Employee</span>
</button>
<button  mat-raised-button [routerLink]="['salary']" routerLinkActive="active">
    <mat-icon>money </mat-icon>
    <span>Salary</span>
</button> 
<button  mat-raised-button [routerLink]="['dues']" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Dues</span>
</button> 
<button  mat-raised-button [routerLink]="['stock']" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Stock</span>
</button>  
<button  mat-raised-button [routerLink]="['sale']" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Sale</span>
</button>  
<button  mat-raised-button [routerLink]="['order']" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Order</span>
</button> 
<button   mat-raised-button [routerLink]="['deliver']" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Deliver</span>
</button> 
<button   mat-raised-button [routerLink]="['expense']" routerLinkActive="active" >
    <mat-icon>dashboard</mat-icon>
    <span>Expense</span>
</button> 