/******* css for home layout start *********/
.name_text{
  color:white;
  font-size: 20px;
  float: left;
  margin-left: 75%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin-left:60em; */
}
mat-sidenav {
  width: 250px;
  height: 100%;
  background-color:brown;
}

mat-sidenav-content {
  height: 100vh;
  background-color: whitesmoke;
}
mat-toolbar {
  height: 60px;
  justify-content: space-between;
  background-color:brown;
}
.main {
  padding: 2px;
}
mat-icon {
  font-size: 28px;
  cursor: pointer;
  color: whitesmoke;
}
img{
background-color:white;
border-radius: 100%;
 height: 50px; 
 width: 50px; 
}


@media(min-width:769px){
  .name_text{
    font-size: 18px;
    margin: left 75%; ;
}

img{
  background-color:white;
  border-radius: 100%;
  height: 50px; 
  width: 50px; 
  /* margin-left: 70%; */
    }
}

@media(max-width:768px){
  .name_text{
      display: none;
  }
  mat-icon {
    font-size: 20px;
    cursor: pointer;
    display: block;
    color: whitesmoke;
  }
}