

<div id="wrapper">
    <div id="header">
      <h1>Add Deliver Details
        <span class="example-spacer"></span>
        <mat-icon mat-dialog-close  routerLink="/adminhome/deliver">clear</mat-icon>
      </h1>
    </div>
    <div id="textarea">
      <form [formGroup]="deliver_form">
        <div id="left_box">
          <mat-form-field appearance="fill">
            <mat-label>Deliver Date </mat-label>
            <input matInput placeholder="Deliver Date" formControlName="deliver_date">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Deliver Address</mat-label>
            <input matInput placeholder="Deliver Address" formControlName="deliver_address">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Deliver Quantity </mat-label>
            <input matInput placeholder="Deliver Quantity" formControlName="deliver_qty">
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="buttonarea">
      <button mat-raised-button color="warn" (click)="resetform()">Reset</button>
      <button mat-raised-button color="primary" (click)="onsubmit()">Submit</button>
    </div>
  </div>