<div class="main_area">
  <div id="thumabnal">
    <mat-icon>dashboard</mat-icon><br>
    <span><b>3</b></span><br><br>
    <span>party</span>
  </div>
  <div id="thumabnal">
    <mat-icon>account_circle</mat-icon><br>
    <span><b>5</b></span><br><br>
    <span>Category</span>
  </div>
  <div id="thumabnal">
    <mat-icon>card_giftcard</mat-icon><br>
    <span><b>10</b></span><br><br>
    <span>Item</span>
  </div>
  <div id="thumabnal">
    <mat-icon>list</mat-icon><br>
    <span><b>5</b></span><br><br>
    <span>Customer</span>
  </div>
  <div id="thumabnal">
    <mat-icon>group</mat-icon><br>
    <span><b>6</b></span><br><br>
    <span>Employee</span>
  </div>
  <div id="thumabnal">
    <mat-icon>person_add</mat-icon><br>
    <span><b>4</b></span><br><br>
    <span>salary</span>
  </div>
  <div id="thumabnal">
    <mat-icon>money</mat-icon><br>
    <span><b>2</b></span><br><br>
    <span>Dues</span>
  </div>
  <div id="thumabnal">
    <mat-icon>dashboard</mat-icon><br>
    <span><b>4</b></span><br><br>
    <span>Stock</span>
  </div>
  <div id="thumabnal">
    <mat-icon>dashboard</mat-icon><br>
    <span><b>3</b></span><br><br>
    <span>Sale</span>
  </div>
  <div id="thumabnal">
    <mat-icon>dashboard</mat-icon><br>
    <span><b>2</b></span><br><br>
    <span>Order</span>
  </div>
  <div id="thumabnal">
    <mat-icon>dashboard</mat-icon><br>
    <span><b>2</b></span><br><br>
    <span>Deliver</span>
  </div>
  <div id="thumabnal">
    <mat-icon>dashboard</mat-icon><br>
    <span><b>3</b></span><br><br>
    <span>Expense</span>
  </div>
</div>