
<!-- <p>manage-item works!</p> -->
<div id="wrapper">
    <div id="header">
      <p>Salary Details</p>
        <span class="example-spacer"></span>
        <mat-icon id="add_icon" routerLink="../add_salary">add_circle</mat-icon>
    </div>
    <div id="total_search">
      <span>Total : {{total_count}}</span>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </div>
    <div id="tablearea">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
    
          <!-- S.NColumn -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N.</th>
            <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="Salary months">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary months</th>
            <td mat-cell *matCellDef="let row">{{row.salary_months}}</td>
          </ng-container>

          <ng-container matColumnDef="Salary amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary amount</th>
            <td mat-cell *matCellDef="let row">{{row.salary_amt}}</td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="Salary Insentive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary Insentive</th>
            <td mat-cell *matCellDef="let row">{{row.salary_insentive}}</td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row">
            <mat-icon>edit</mat-icon>
            <mat-icon>delete</mat-icon>
         </td>
          </ng-container>
      
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <!-- <td class="mat-cell" colspan="10">No data matching the filter "{{input.value}}"</td> -->
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      
  </div>

